.navbar {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s all ease;
}

.logoSite {
  display: none;
}

.btn {
  width: 175px;
  padding: 10px 0px;
}

@media screen and (max-width: 783px) {
  .mr-auto {
    display: inline-block;
  }
}

@media screen and (max-width: 477px) {
  .logoSite {
    display: contents;
  }
  .titleSite {
    display: none;
  }
  #basic-navbar-nav {
    text-align: center;
  }
  .btn {
    width: 290px;
    padding: 10px 0px;
  }
  .btn-group {
    width: 100%;
    overflow: visible;
  }
}
